{% extends "layout.html" %} {% load static %} {% block title %} SIGA - Aulas 
{% endblock %} {% block body %}

<div class="container-fluid py-5">
  <h2 class="display-5 fw-bold">Aulas</h2>
  <div class="container">
    <p>
      La gestión de espacios (físicos y virtuales) es parte fundamental de las
      tareas diarias de la coordinación académica.
    </p>
    <p>
      Se pueden crear todas las aulas necesarias y, por supuesto, asignar los
      profesores.
    </p>
  </div>
</div>
{% endblock %}
