{% extends "layout.html" %} {% load static %} {% block title %} SIGA - Informes
{% endblock %} {% block body %}
<div class="container-fluid">
  <div class="container-fluid py-5">
    <h2 class="display-5 fw-bold">Informes</h2>
    <p class="col-md-12">
      Accede a informes y listados académicos con los que estar al día sobre
      todo lo que ocurre en tu centro.
    </p>
    <ul>
      <li>
        <h5>Listados</h5>
        <p>
          Crea listas en base a filtros detallados que muestra información
          actualizada.
        </p>
      </li>
      <li>
        <h5>Control de Entregas</h5>
        <p>
          Accede a informes detallados sobre las entregas programadas en cada
          aula.
        </p>
      </li>
      <li>
        <h5>Progreso del Aula</h5>
        <p>
          Visualiza el porcentaje de entregas realizadas en cada aula y
          progresión de los alumnos.
        </p>
      </li>
    </ul>
  </div>
</div>
{% endblock %}
