<!doctype html>
<html lang="es">

<head>
    <title>{% block title %} {% endblock %}</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS v5.2.1 -->
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous"> -->

    {% comment %} <link rel="stylesheet" href="https://bootswatch.com/4/cerulean/bootstrap.css" /> {% endcomment %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.6.0/dist/sandstone/bootstrap.min.css">

</head>
<header></header>
    {% comment %} <header>
        <!-- place navbar here -->
        <nav class="navbar navbar-expand navbar-light bg-light">
            <ul class="nav navbar-nav">
                <a class="navbar-brand mt-2 mt-lg-0" href="/">
                    <i class="fa-solid fa-graduation-cap"></i>
                </a>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                        aria-haspopup="true" aria-expanded="false">Gestión Academica</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="{% url 'alumnos' %}">Alumnos</a>
                        <a class="dropdown-item" href="{% url 'profesores' %}">Profesores</a>
                        <a class="dropdown-item" href="{% url 'materias' %}">Materias</a>
                        <a class="dropdown-item" href="{% url 'aulas' %}">Aulas</a>
                        <a class="dropdown-item" href="{% url 'calificaciones' %}">Calificaciones</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'informes' %}">Informes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'index' %}">Nosotros</a>
                </li>
            </ul>
        </nav>
    </header> {% endcomment %}
    <div class="container">
        <div class="row">
            <div class="col-12" >
                {% block body %} {% endblock %}
            </div>
        </div>
    </div>
    <footer>
        <!-- place footer here -->
    </footer>
    <!-- Bootstrap JavaScript Libraries -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
        </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
        integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
        </script>
    <script src="https://kit.fontawesome.com/c4476a7d86.js" crossorigin="anonymous"></script>
</body>

</html>