{% extends "layout.html" %} {% load static %} {% block title %} SIGA - Nosotros
{% endblock %} {% block body %}
<body style="background-image: url('{%static 'images/school-design.jpg' %}')">
  <div class="row align-items-end">
    <div class="col-8">
      <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">SIGA</h1>
        <div class="card bg-light py-5">
          <p class="col-md-12">
            <strong>Sistema Integrado de Gestión Academica</strong> nace para
            transformar la gestión académica, ofreciendo a los centros e
            instituciones educativas una plataforma especialmente pensada para
            ellos.
          </p>
          <p class="col-md-12">
            Entendemos la complejidad que hay detrás de la gran diversidad de
            instituciones educativas: desde escuelas, institutos, centros de
            formación hasta universidades.
          </p>
          <p class="col-md-12">
            Sabemos qué es necesario hacerle la vida más fácil a los equipos de
            trabajo de estos centros, así como a sus alumnos. Lo hacemos con las
            herramientas digitales incluidas en nuestra plataforma de gestión
            educativa.​
          </p>
        </div>
        <!-- <button class="btn btn-primary btn-lg" type="button">Ingresar</button> -->
      </div>
    </div>
    <div class="col-4">
      <img
        src='{% static "images/SIGA.png" %}'
        class="img-maximo"
        alt="SIGA image"
      />
    </div>
  </div>
  {% endblock %}
</body>
