{% extends 'layout2.html' %} {% load widget_tweaks %} {% load static %} {% block title %}Resetear contraseña{% endblock %}
{% block body %}
<body style="background-image: url('{%static 'images/school-design.jpg' %}');">
<div class="container-fluid py-5">
  <div class="row justify-content-center">
    <div class="card bg-light">
      <div class="card-body">
        <h2>Restablecer contraseña</h2>
        {% if messages %}
        <!-- <ul class="messages"> -->
          {% for message in messages %}
          <div class="alert alert-danger alert-dismissable">
            <button type="button" class="close" data-bs-dismiss="alert">
              &times;
            </button>
            <strong>{{ message }}</strong>
          </div>
          {% endfor %}
        <!-- </ul> -->
        {% endif %}
        <form method="post">
          {% csrf_token %}
          <div class="form-group">
            <label for="username"
              ><strong>{{ form.email.label_tag }}</strong></label
            >
            {% render_field form.email class="form-control" %}
          </div>
          <button type="submit" class="btn btn-primary btn-block">Enviar</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
