{% extends 'layout2.html' %} {% load static %} {% load widget_tweaks %} {% block title %}Confirmar
reseteo de contraseña{% endblock %} {% block body %}
<body style="background-image: url('{%static 'images/school-design.jpg' %}');">
<div class="container-fluid py-5">
  <div class="row justify-content-center">
    <div class="card bg-light">
      <div class="card-body">
        <h2>Confirmar reseteo de contraseña</h2>
        {% if message %}
        <p>{{ message }}</p>
        {% endif %}
        <form method="post" class="mt-3">
          {% csrf_token %}
          <div class="form-group">
            <label for="username"
              ><strong>{{ form.new_password1.label_tag }}</strong></label
            >
            {% render_field form.new_password1 class="form-control" %}
          </div>
          <div class="form-group">
            <label for="username"
              ><strong>{{ form.new_password2.label_tag }}</strong></label
            >
            {% render_field form.new_password2 class="form-control" %}
          </div>

          <button type="submit" class="btn btn-primary btn-block">Confirmar</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
