<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Resetear contraseña</title>
    <link rel="stylesheet" href="https://bootswatch.com/5/cerulean/bootstrap.min.css">
</head>
<body>
    <div class="container my-5">
        <div class="card">
            <div class="card-body">
                <h1 class="card-title">Resetear contraseña PRUEBA</h1>
                <p class="card-text">Hola {{ user.get_short_name }},</p>
                <p class="card-text">Recibiste este correo electrónico porque solicitaste un reseteo de contraseña para tu cuenta en nuestra aplicación.</p>
                <p class="card-text">Por favor haz clic en el siguiente enlace para resetear tu contraseña:</p>
                {{ reset_url }}
                <a href="{{ protocol }}://{{ domain }}{% url 'email_reseteo:password_reset_confirm' uidb64=uidb64 token=token %}" class="btn btn-primary">Resetear contraseña</a>
                
                <p class="card-text mt-3">Si no solicitaste un reseteo de contraseña, por favor ignora este correo electrónico.</p>
                <p class="card-text">Gracias,</p>
                <p class="card-text">El equipo de nuestra aplicación</p>
            </div>
        </div>
    </div>
</body>
</html>

{% comment %} <!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Resetear contraseña</title>
    <link rel="stylesheet" href="https://bootswatch.com/5/cerulean/bootstrap.min.css">
</head>
<body>
    <div class="container my-5">
        <div class="card">
            <div class="card-body">
                <h1 class="card-title">Resetear contraseña</h1>
                <p class="card-text">Hola {{ user.get_full_name }},</p>
                <p class="card-text">Recibiste este correo electrónico porque solicitaste un reseteo de contraseña para tu cuenta en nuestra aplicación.</p>
                <p class="card-text">Por favor haz clic en el siguiente enlace para resetear tu contraseña:</p>
                <a href="{{ reset_password_url }}" class="btn btn-primary">Resetear contraseña</a>
                <p class="card-text mt-3">Si no solicitaste un reseteo de contraseña, por favor ignora este correo electrónico.</p>
                <p class="card-text">Gracias,</p>
                <p class="card-text">El equipo de nuestra aplicación</p>
            </div>
        </div>
    </div>
</body>
</html> {% endcomment %}
